@use 'utils' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    color: $accent-color;
    font-weight: 500;
    font-size: 1.2rem;
}

.loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(60, 54, 54, 0.701);
	color: white;
	font-size: 2rem;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
	padding: 0;
	margin: 0;
    background-image: none !important;
    height: 0px;
}


.map-container {
	width: 100%;
	height: 50vh;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto 1fr auto;
	min-height: 100vh;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-gap: 1rem;
	align-items: start;
	align-content: start;
}

.container {
        width: 90%;
        margin: 0 auto;
}

.map-container,
.form-container,
.col {
	grid-column: 1 / -1;
}

.searchbar-container {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: .5rem;

    div:first-of-type {
        display: none;
    }
    .searchbar-autocomplete {
        flex-basis: 90%;
        margin-right: auto;
    }
    
    .searchbar-autocomplete-field {
        display: inline-block;
        width: 90%;
    }
    
}

.form-container {
	display: flex;
	flex-direction: column;
}

input, select, textarea {
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.5rem;
}


.lost-toggler,
.input-cont {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: end;
	margin-bottom: 1rem;
	gap: 5%;
}


textarea {
	margin: 1rem 0; 
}

.lost-toggler label,
.input-cont label {
	flex-basis: 20%;
}

.input-cont input:not([type="range"]),
.input-cont select {
	flex-basis: 75%;
	width: 75%;
}

.input-cont input[type="range"] {
	flex-basis: 50%;
	width: 50%;
	margin-right: auto;
}

input[type="text"] {
	-webkit-appearance: none;
	width: 100%;
}

.input-cont:has(input[type="range"]) {
	align-items: center;
}

.location {
	padding: 0 0 .5rem;
}

.accent {
    color: $accent-color;
}

img {
	display: block;
	max-height: 30vh;
	object-fit: cover;
	width: 100%;
	max-width: 600px;
}

@include breakpoint(laptop) {
    .form-container,
    .col {
        grid-column: span 6;
    }

    .map-container {
		height: 90vh;
	}
}


header {
    padding: .75rem 0;
    nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .menu-list {
            flex-basis: 100%;
            display: none;
            background-color: rgba(248, 248, 255, 0.703);
        };

        .close-menu-toggler {
            display: none;
        };

        &.open {
            .close-menu-toggler {
                display: block;
            };

            .open-menu-toggler {
                display: none;
            };

            .menu-list {
                height: 100vh;
                position: absolute;
                top: 2.5rem;
                left: 0;
                width: 100%;
                display: block;
                text-align: center;
                z-index: 999;
            };
            
            .menu-item {
                text-transform: capitalize;
                font-weight: 400;
                font-size: 24px;
                padding: 1rem;
            }
            .menu-item a:hover {
                color: $accent-color
            }
        };

        @include breakpoint(tablet){
            .menu-toggler {
                display: none;
            };

            .menu-list {
                display: flex;
                flex-basis: auto;
                gap: 1rem;
                background-color: transparent
            };
            &.open {
                .menu-list {
                    position: static;
                    height: auto;
                    width: auto;
                    display: flex;
                    flex-basis: auto;
                    background-color: transparent;
                };
                .menu-item {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }

        }

    }; 
}

.browseui {
    @include breakpoint(laptop) {
        grid-template-rows: repeat(2,  auto);

        .col {
            grid-row: 1 / 3;
        }

        .form-container {
            grid-row: 1 / 2;
        }
        
    }
}
    
    .card-container {
        grid-column: 1 /-1;
        display: flex;
        overflow-x: auto;
        min-height: 100%;
        gap: .5rem;
      
    
        @include breakpoint(laptop) {
            grid-column: span 6;
            grid-row: 2 / 3;
            flex-wrap: wrap;
            overflow-x: hidden;
            overflow-y: auto; 
            height: 63vh;
            justify-content: space-between;
        }
    }
    
    .card {
        flex-basis: 60%;
        flex-shrink: 0;
        border: 1px solid #ccc;
        border-radius: .2rem;
        box-sizing: border-box;
        

        &:only-child{
            height: fit-content;
        }

        .coordinates {
            display: none;
        }

        .location {
            align-self: center;
        }

    .card-top {
        height: 25vh;
        img {
            display: block;
            height: 100%;
            width: 100%;
            overflow: hidden;
            object-fit: cover;
        }
    }

    .card-bottom {
        padding: .5rem;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        gap: .5rem;
        font-size: .8rem;
    }

    .card-title {
        font-size: .9rem;
        font-weight: 500;
        align-self: start;
        overflow: hidden;
    }
    p {
        i {
            margin-right: 1rem
        }
        margin: .5rem 0;
    }

    .location-container {
        p {
            margin: 0;
        }
    }

    @include breakpoint(intermin) {
        flex-basis: 49%;
    }

    @include breakpoint(tablet) {
        flex-basis: 32%;
    }

    @include breakpoint(laptop) {
        flex-basis: 49%;
    }

    @include breakpoint(desktop) {
        flex-basis: 32%;
}
}

p {
    i {
        margin-right: 1rem
    }
    margin: .5rem 0;
}

.form-container {
    i {
        font-size: 1.5rem;
        color: #2b2323;
    }
}

.lost-toggler {
    i {
        margin-right: auto;
    }
}

.searchbar-autocomplete-field,
select, 
input:not([type="file"]),
input:not([type="range"]) {
    border: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    &:focus {
        outline: none;
        border-bottom: 1px solid #2b2323;
    }
    &::placeholder {
        color: #ccc;
    }
}

.location-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-template-rows: repeat(2, auto);
    i {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        align-self: center;
        margin-right: 1rem;
    }

    div {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
}

.file-upload-component {
    margin: 1rem 0;
    display: flex;
    display: flex;
    i {
        margin-right: 5rem;
        align-self: center;
    }
    input {
        border: none;
    }

    img {
       overflow: hidden;
    }
}

.author-component {
    grid-column: 1 / -1;
}

.item-page {

h3 {
        margin: .5rem 0
    }

.item-image {
        height: auto;
        max-height: unset;
}
}


@include breakpoint(laptop) {
    .map-container {
        grid-column: 7 / -1;
        grid-row: 1 / 3;
        height: 90vh;
    }
    .item-page {
        .map-container {
            height: 100%;
        }
    }

}



.modal {
    position: absolute;
    background-color: rgba(248, 248, 255, 0.648);
    left: 5%;
    top: 4rem;
    width: 90%;
    z-index: 1002;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    &.opened {
        display: flex;
    }
    img {
        display: block;
        width: 90%;
        margin: 0 auto;
        max-height: unset;
    }
    .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        color: #2b2323;
        cursor: pointer;
    };
    
}


.author-component {
    margin: 1.5rem;
}

.register-page,
.login-page {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    .form-container {
        margin: 0 auto;
        width: 70%;

        
        @include breakpoint(laptop) {
            width: 50%;
        }
        @include breakpoint(desktop) {
            width: 40%;
        }
        input,
        .form-container-subheadline {
            margin: 1rem 0;
        }
    }
}

button:disabled  {
    background-color: #ccc;
    cursor: not-allowed;
}

button {
    border: none;
    border-radius: 0;
    background-color: $accent-color;
    color: black;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
        background-color: darken($accent-color, 10%);
    }
    font-weight: 600;
    padding: .5rem 1rem
}



.profile-page {
    .own-items-container {
        grid-column: 1 / -1;        
    }

    .no-items-component {
        padding: 2rem 0;
        text-align: center;
    }
       
    .form-container {
        .btn-container {
            display: flex;
            justify-content: space-between;
            margin: 1rem 0;
            button  {
                color: white;
                font-weight: 400;
                border-radius: .2rem;
            }
            .btn-del {
                background-color: red;
                &:hover {
                    background-color: darken(red, 10%);
                }
            }
            .btn-signout {
                background-color: $accent-color;
                &:hover {
                    background-color: darken($accent-color, 10%);
                }
            }

            .btn-save {
                background-color: rgb(7, 82, 181);
                &:hover {
                    background-color: darken(rgb(7, 82, 181), 10%);
                }
            }
        }
        h3 {
            flex-basis: 100%;
            grid-column: 1 / -1;
        }
    }
    
    .card-container {
        .no-items-component 
        {
            flex-basis: 100%;
        }
    }
    @include breakpoint(laptop) {
        .form-container {
            grid-column: 1 / 7;
            grid-row: 1 / 3;
        }
        .own-items-container {
            grid-column: 7 / -1;
            grid-row: 1 / 3;            
        }
        
    }
    }
    
footer {
    text-align: center;
    background-color: #2b2323;
    color: white;
    margin-top: 1rem;

    a:hover {
        color: $accent-color;
    }
    .social {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        i {
            font-size: 1.5rem;
            margin: 0 1rem;
            cursor: pointer;
            &:hover {
                color: $accent-color;
            }
        }
    };

}