.card {
    display: flex;
    width: 70%;
    flex-shrink: 0;
    text-align: left;
    border: 1px solid rgb(100, 100, 100);
    overflow: hidden ;
    border-radius: .3rem;
}

.card-img {
    width: 40%;
    height: 100%;
    object-fit: cover ;
}

.card-text-container {
    width: 60%;
    padding: .5rem;
}

.card-text-container h4 {
    padding: .2rem 0;
}

.card i { 
    padding-right: .5rem;
}

.card-title {
    padding-bottom: .5rem;
}

.truncate {
    display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.my-items-container .card {
    max-width: 360px;
}

@media (min-width: 650px){
    .card {
        width: 100%;
        height: 180px;
    }
}

@media (min-width: 1200px){
    .card {
        width: calc(100% / 2 - 1rem);
    }

}

