.SideBar {
	position: fixed;
	left: 0;
	top: calc(var(--header-font-size) + (var(--header-padding) * 2) + 1px);
	width: auto;
	padding: 0.5rem 1rem 0.5rem 0.5rem;
	height: 100vh;
	transition: transform 1s ease-in-out;
	font-size: var(--header-font-size);
	transform: translate3d(-70vw, 0, 0);
	transition: transform 400ms ease-in-out;
	background-color: rgba(255, 255, 255, 0.416);
	backdrop-filter: blur(10px);
	z-index: 99;
}

.open {
	transition: transform 400ms ease-in-out;
	transform: translate3d(0vw, 0, 0);
}

.SideBarItemList {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.SideBarItem {
	display: flex;
	font-size: 0.8rem;
	gap: 0;
	font-size: 1.3rem;
	cursor: pointer;
}

.SideBarItem a:hover,
.SideBarItem:hover {
	color: var(--accent-color);
}

.SideBarItem i {
	margin-right: 0.5rem;
}
