:root {
	--footer-height: 1.8rem;
	--header-font-size: 1.5rem;
	--header-padding: 0.5rem;
	--accent-color: #ff8800;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Josefin Sans', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}


.icon {
	font-size: 1rem;
}

.loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(60, 54, 54, 0.701);
	color: white;
	font-size: 2rem;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
	padding: 0;
	margin: 0;
    background-image: none !important;
    height: 0px;
}


.map-container {
	width: 100%;
	height: 50vh;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto 1fr auto;
	min-height: 100vh;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-gap: 1rem;
	align-items: start;
	align-content: start;
}

.form-container,
.map-container,
.searchbar-container,
.col {
	grid-column: 1 / -1;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.searchbar-container {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;
}

.searchbar-container > div:first-of-type {
	display: none;
}

.searchbar-autocomplete {
	flex-basis: 90%;
	margin-right: auto;
}

.searchbar-autocomplete-field {
	display: inline-block;
	width: 90%;
}

.form-container {
	display: flex;
	flex-direction: column;
}

input, select, textarea {
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.5rem;
}


.lost-toggler,
.input-cont {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 1rem;
	justify-content: space-between;
	align-items: end;
	gap: 5%;
}


.lost-toggler label,
.input-cont label {
	flex-basis: 20%;
}

.input-cont input:not([type="range"]),
.input-cont select {
	flex-basis: 75%;
	width: 75%;
}

.input-cont input[type="range"] {
	flex-basis: 50%;
	width: 50%;
	margin-right: auto;
}


.lost-toggler button {
	margin-right: auto;
	background-color: transparent;
	border: none;
	font-size: 1.3rem;
}

.input-cont:has(input[type="range"]) {
	align-items: center;
}

.location {
	padding: 0 0 .5rem;
}


img {
	display: block;
	max-height: 30vh;
	object-fit: cover;
	width: 100%;
	max-width: 600px;
}

@media (min-width: 800px) {
	.form-container,
	.map-container,
	.searchbar-container,
	.col {
		grid-column: span 6 ;
	}

	.map-container {
		height: 90vh;
	}

}