@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

p {
  font-weight: 400;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.logo {
  color: #f89e21;
  font-weight: 500;
  font-size: 1.2rem;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(60, 54, 54, 0.701);
  color: white;
  font-size: 2rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
  padding: 0;
  margin: 0;
  background-image: none !important;
  height: 0px;
}

.map-container {
  width: 100%;
  height: 50vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto 1fr auto;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  align-items: start;
  align-content: start;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.form-container,
.col {
  grid-column: 1/-1;
}

.searchbar-container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.searchbar-container div:first-of-type {
  display: none;
}
.searchbar-container .searchbar-autocomplete {
  flex-basis: 90%;
  margin-right: auto;
}
.searchbar-container .searchbar-autocomplete-field {
  display: inline-block;
  width: 90%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

input, select, textarea {
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
}

.lost-toggler,
.input-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 1rem;
  gap: 5%;
}

textarea {
  margin: 1rem 0;
}

.lost-toggler label,
.input-cont label {
  flex-basis: 20%;
}

.input-cont input:not([type=range]),
.input-cont select {
  flex-basis: 75%;
  width: 75%;
}

.input-cont input[type=range] {
  flex-basis: 50%;
  width: 50%;
  margin-right: auto;
}

input[type=text] {
  -webkit-appearance: none;
  width: 100%;
}

.input-cont:has(input[type=range]) {
  align-items: center;
}

.location {
  padding: 0 0 0.5rem;
}

img {
  display: block;
  max-height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 600px;
}

@media (min-width: 56.25em) {
  .form-container,
  .col {
    grid-column: span 6;
  }
  .map-container {
    height: 90vh;
  }
}
header {
  padding: 0.75rem 0;
}
header nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
header nav .menu-list {
  flex-basis: 100%;
  display: none;
  background-color: rgba(248, 248, 255, 0.703);
}
header nav .close-menu-toggler {
  display: none;
}
header nav.open .close-menu-toggler {
  display: block;
}
header nav.open .open-menu-toggler {
  display: none;
}
header nav.open .menu-list {
  height: 100vh;
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  z-index: 999;
}
header nav.open .menu-item {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 24px;
  padding: 1rem;
}
header nav.open .menu-item a:hover {
  color: #f89e21;
}
@media (min-width: 43.75em) {
  header nav .menu-toggler {
    display: none;
  }
  header nav .menu-list {
    display: flex;
    flex-basis: auto;
    gap: 1rem;
    background-color: transparent;
  }
  header nav.open .menu-list {
    position: static;
    height: auto;
    width: auto;
    display: flex;
    flex-basis: auto;
    background-color: transparent;
  }
  header nav.open .menu-item {
    font-size: 1rem;
    font-weight: 600;
  }
}

@media (min-width: 56.25em) {
  .browseui {
    grid-template-rows: repeat(2, auto);
  }
  .browseui .col {
    grid-row: 1/3;
  }
  .browseui .form-container {
    grid-row: 1/2;
  }
}
.browseui .card-container {
  grid-column: 1/-1;
  display: flex;
  overflow-x: auto;
  min-height: 100%;
  gap: 0.5rem;
}
@media (min-width: 56.25em) {
  .browseui .card-container {
    grid-column: span 6;
    grid-row: 2/3;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    height: 63vh;
    justify-content: space-between;
  }
}
.browseui .card {
  flex-basis: 60%;
  flex-shrink: 0;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  box-sizing: border-box;
}
.browseui .card:only-child {
  height: -moz-fit-content;
  height: fit-content;
}
.browseui .card .coordinates {
  display: none;
}
.browseui .card .location {
  align-self: center;
}
.browseui .card .card-top {
  height: 25vh;
}
.browseui .card .card-top img {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.browseui .card .card-bottom {
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  font-size: 0.8rem;
}
.browseui .card .card-title {
  font-size: 0.9rem;
  font-weight: 500;
  align-self: start;
  overflow: hidden;
}
.browseui .card p {
  margin: 0.5rem 0;
}
.browseui .card p i {
  margin-right: 1rem;
}
.browseui .card .location-container p {
  margin: 0;
}
@media (min-width: 56.25em) {
  .browseui .card {
    flex-basis: 49%;
  }
}
@media (min-width: 75em) {
  .browseui .card {
    flex-basis: 32%;
  }
}

.form-container i {
  font-size: 1.5rem;
  color: #2b2323;
}

.lost-toggler i {
  margin-right: auto;
}

.searchbar-autocomplete-field,
select,
input:not([type=file]),
input:not([type=range]) {
  border: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
}
.searchbar-autocomplete-field:focus,
select:focus,
input:not([type=file]):focus,
input:not([type=range]):focus {
  outline: none;
  border-bottom: 1px solid #2b2323;
}
.searchbar-autocomplete-field::-moz-placeholder, select::-moz-placeholder, input:not([type=file])::-moz-placeholder, input:not([type=range])::-moz-placeholder {
  color: #ccc;
}
.searchbar-autocomplete-field::placeholder,
select::placeholder,
input:not([type=file])::placeholder,
input:not([type=range])::placeholder {
  color: #ccc;
}

.location-container {
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: repeat(2, auto);
}
.location-container i {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  margin-right: 1rem;
}
.location-container div {
  grid-column: 2/3;
  grid-row: 1/2;
}

.file-upload-component {
  margin: 1rem 0;
  display: flex;
  display: flex;
}
.file-upload-component i {
  margin-right: 5rem;
  align-self: center;
}
.file-upload-component input {
  border: none;
}
.file-upload-component img {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */